.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 16px !important;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}
.q-table__container>div:last-child {
    margin: 0px;
}
.q-table__bottom-item {
    margin-right: 5px;
    margin-left: 5px;
}
.i .material-icons q-icon {
    color: white;
    justify-content: end;
}
.text-amber {
    color: white;
}
.q-btn__bottom {
    justify-content: end;
}
span.q-table__bottom-item {
    right: 0;
    justify-content: end;
}
.q-select__dropdown-icon {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
}
.q-field__native {
    margin-top: 10px;
}

i.q-icon {
    justify-content: end !important;
    margin-right: -27px !important;
}
i.q-table__sort-icon {
    margin-right: 5px !important;
}
.q-item__label {
    margin-right: 5px;
    margin-left: 5px;
    color: white;
}

.material-icons, .material-icons-outlined, .material-icons-round, .material-icons-sharp, .q-icon {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: inherit;
    font-size: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: end !important;
    vertical-align: middle;
    color: white !important;
}